title Editor
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")

link(rel="stylesheet" href="/css/bootstrap.min.css")
link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
link(rel="stylesheet" href="/css/typeahead.css")

script(src='/js/sweet-alert.min.js')
link(rel='stylesheet', type='text/css', href='/css/sweet-alert.css')

script(src="//code.jquery.com/jquery-2.1.3.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/typeahead.js")
script(src="/js/sortable.min.js")

script(src="/js/icanhas.min.js")
script(src="/socket.io/socket.io.js")

link(rel='stylesheet' type='text/css' href='/css/chat.css')
link(rel='stylesheet' type='text/css' href='/css/callout.css')
link(rel="stylesheet" type='text/css' href="/css/app.css")
