html(lang="en")
  head
    include ./includes/_head.jade
  body
    nav(class="navbar navbar-default")
      div(class="container-fluid")
        div(class="navbar-header")
          a(class="navbar-brand" href="/") SSC Editor: #{locals.projectName}
        div
          ul(class="nav navbar-nav")
            li
              a(href="/topics") Topics
            li
              a(href="/gambits") Gambits
            li
              a(href="/replies") Replies
            li
              a(href="/knowledge") Knowledge

        
          ul(class="nav navbar-nav navbar-right")
            li
              a(href="/settings") Settings

            li
              a(href="/import") Import

            li
              a(href="/docs") Docs            

    block content