extends ./layout.jade
block content
  .container
    .row
      .page-header
        h1 Documentation
    .row 
      h2 SuperScript Community Editor
      p Welcome to the wonderful world of Chattbot Authoring, if you have made it this far you have come a long way, and hopfully the information here will serve as a guid on the rest of your journey.
      p This editor is still under heavy development and not completly working, check back or follow the progress on Github.