.bg-warning, .bg-success {
  padding:15px;
}

.select-group-control {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-appearance: none;  
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.hilite {
  background-color: yellow;
}

.sortable > li {
  list-style: none;
  border: 1px solid #CCC;
  /*background: #efefef;*/
  /*color: #1C94C4;*/
  margin: 5px;
  padding: 5px;
}