style.
  
  #cy {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  #info {
    color: #c88;
    font-size: 1em;
    position: absolute;
    z-index: -1;
    left: 1em;
    top: 1em;
  }

include ../includes/_knoledgemenu.jade
extends ../_layout.jade
block content
  .container
    .row
      +subNav('graph')

      .form-group.pull-right
        form#target(action="/knowledge/concepts/import" method="post" enctype="multipart/form-data")
          span.btn.btn-default.btn-file
            | Load Concepts 
            input#datafile(type='file' name="file")

  script.

    function main () {
      //- var graph = Viva.Graph.graph();

      var fromJSON = Viva.Graph.serializer().loadFromJSON;

      var jsonString = '{"nodes":[{"id":"hello"},{"id":"world"}],"links":[{"fromId":"hello","toId":"world"}]}'
      var graph = fromJSON(jsonString);

      var graphics = Viva.Graph.View.svgGraphics();
      var nodeSize = 0;

      graphics.node(function(node) {

        //- Viva.Graph.svg("g");
        return Viva.Graph.svg("rect")
         .attr("width", 10)
         .attr("height", 10)
         .attr("fill", "#00a2e8");
        }).placeNode(function(nodeUI, pos) {
          nodeUI.attr('x', pos.x - 5).attr('y', pos.y - 5);
      });

      var createMarker = function(id) {
        return Viva.Graph.svg('marker')
          .attr('id', id)
          .attr('viewBox', "0 0 10 10")
          .attr('refX', "10")
          .attr('refY', "5")
          .attr('markerUnits', "strokeWidth")
          .attr('markerWidth', "10")
          .attr('markerHeight', "5")
          .attr('orient', "auto");
      };

      var marker = createMarker('Triangle');
      marker.append('path').attr('d', 'M 0 0 L 10 5 L 0 10 z');

      var defs = graphics.getSvgRoot().append('defs');
      defs.append(marker);

      var geom = Viva.Graph.geom();

      var renderer = Viva.Graph.View.renderer(graph, { graphics : graphics });
      renderer.run();

      //- graphics.link(function(link){
      //-   var label = Viva.Graph.svg('text').attr('id','label_'+link.data.id).text(link.data.id);
      //-     graphics.getSvgRoot().childNodes[0].append(label);
          
      //-     return Viva.Graph.svg('path')
      //-       .attr('stroke', 'gray')
      //-       .attr('marker-end', 'url(#Triangle)')
      //-       .attr('id', link.data.id);
      //-     }).placeLink(function(linkUI, fromPos, toPos) {
      //-       var toNodeSize = nodeSize;
      //-       var fromNodeSize = nodeSize;

      //-       var from = geom.intersectRect(
      //-         fromPos.x - fromNodeSize / 2, // left
      //-         fromPos.y - fromNodeSize / 2, // top
      //-         fromPos.x + fromNodeSize / 2, // right
      //-         fromPos.y + fromNodeSize / 2, // bottom
      //-         fromPos.x, fromPos.y, toPos.x, toPos.y)
      //-       || fromPos;

      //-       var to = geom.intersectRect(
      //-         toPos.x - toNodeSize / 2, // left
      //-         toPos.y - toNodeSize / 2, // top
      //-         toPos.x + toNodeSize / 2, // right
      //-         toPos.y + toNodeSize / 2, // bottom
      //-         // segment:
      //-         toPos.x, toPos.y, fromPos.x, fromPos.y)
      //-         || toPos;

      //-       var data = 'M' + from.x + ',' + from.y + 'L' + to.x + ',' + to.y;
      //-       linkUI.attr("d", data);
          
      //-       document.getElementById('label_'+linkUI.attr('id'))
      //-         .attr("x", (from.x + to.x) / 2)
      //-         .attr("y", (from.y + to.y) / 2);
      //-     });

      // Finally we add something to the graph:
      //- graph.addNode('anvaka', '91bad8ceeec43ae303790f8fe238164b');
      //- graph.addNode('indexzero', 'd43e8ea63b61e7669ded5b9d3c2e980f');
      //- graph.addNode('test', 'd43e8ea63b61e7669ded5b9d3c2e980f');
      //- graph.addLink('anvaka', 'indexzero', {id : 'isa'});
      //- graph.addLink('anvaka', 'test', {id : 'member'});

    }

    $(document).ready(main())


